@import url('base.css');

body {
    margin: 0;
}

/* Header */

@media screen and (min-width: 450px) {

    #company,
    #features {
        display: block;
        position: absolute;
        padding: 1rem;
        margin: 1rem;
        z-index: 15;
        background-color: var(--almost-white);
        border-radius: 15px;
        box-shadow: 0 0 20px var(--medium-gray);
    }

    #features {
        margin-left: -4rem;
        top: 3rem;
        left: 9.5rem;
    }

    #company {
        top: 3rem;
        left: 15.5rem;
    }
}

header .menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.mobile {
    display: none;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin: 0.5rem 0.75rem;
}

li:hover:not(.subItem) {
    color: var(--almost-black)
}

.subItem::after {
    content: url("./images/icon-arrow-down.svg")
}

.subItem:hover::after {
    content: url("./images/icon-arrow-up.svg")
}

#features {
    margin-top: 0;
    padding-left: 0;
}

#features img {
    padding-right: 0.4rem;
}

#company {
    margin-left: 0rem;
    margin-top: 0;
}

#features:focus,
#company:focus {
    display: block;
}

#register {
    border: 2px solid;
    border-radius: 10px;
    background-color: var(--almost-white);
    padding: 0.5rem 1rem;
    color: var(--medium-gray);
    margin: 0 1rem;
}

#register:hover {
    color: var(--almost-black);
}

@media screen and (max-width: 450px) {
    header:not(.menu-open) {
        display: flex;
        justify-content: space-between;
    }

    header .menu {
        display: none;
    }

    .mobile {
        display: block;
        margin: 1rem;
    }

    .menu-open .mobile[src*="./images/icon-menu.svg"] {
        display: none;
    }

    @keyframes open {
        from {right: -500px;}
        to {right: 0px;}
    }

    .menu-open .menu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        max-width: 300px;
        height: 100%;
        z-index: 9999;
        background-color: var(--almost-white);
        text-align: left;
        animation-name: open;
        animation-duration: 0.4s;
        transition: all ease-in-out 0.3s;
    }

    ul {
        display: block;
    }

    .main {
        opacity: 100;
    }

    .menu-open .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: var(--medium-gray);
        transition: all ease-in-out 0.3s;
        visibility: visible;
        opacity: 0.9;
    }

    #company {
        padding-left: 0;
    }

    #features {
        padding-left: 0;
    }
}

/* BODY */

main {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 100%;
    padding: 0rem 4rem;
}

main div {
    padding: 3rem;
}

h1 {
    color: var(--almost-black);
    font-size: 4.9rem;
}

p {
    max-width: 80%;
    line-height: 1.5rem;
}

button {
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
}

#learnmore {
    background-color: var(--almost-black);
    color: var(--almost-white);
    margin: 4rem 0rem;
    padding: 0.75rem 1rem;
}

#learnmore:hover {
    background-color: var(--almost-white);
    color: var(--almost-black);
    border: 2px solid;
}

.gallery {
    display: flex;
    align-items: center;
    padding: 0;
    padding-top: 6rem;
}

.gallery img {
    margin: 0.3rem;
    padding: 0.3rem;
}

#hero {
    content: url("./images/image-hero-desktop.png");
}

@media screen and (max-width: 450px) {
    #hero {
        content: url("./images/image-hero-mobile.png");
        grid-column-start: 1;
        grid-column-end: 2;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    main div {
        padding: 0;
    }

    main div:first-child {
        padding: 1rem 0;
        text-align: center;
    }

    h1 {
        font-size: 2rem;
        margin: 1rem;
    }

    p {
        max-width: 100%;
    }

    #learnmore {
        margin: 1.5rem 0.25rem;
    }

    .gallery {
        padding: 0.5rem 0;
    }

    .gallery img {
        max-width: calc(25vw - 1.2rem);
    }

}